* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root, .App{
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

.data-card-week-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.data-card {
  padding: 45px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 2px 4px 15px rgb(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
